@font-face {
  font-family: 'IBM Plex Mono';
  src: url('./fonts/IBMPlexMono-Regular.woff2') format('woff2'),
    url('./fonts/IBMPlexMono-Regular.woff') format('woff');
}
@font-face {
  font-weight: 700;
  font-family: 'IBM Plex Mono';
  src: url('./fonts/IBMPlexMono-Bold.woff2') format('woff2'),
    url('./fonts/IBMPlexMono-Bold.woff') format('woff');
}
@font-face {
  font-style: italic;
  font-family: 'IBM Plex Mono';
  src: url('./fonts/IBMPlexMono-Italic.woff2') format('woff2'),
    url('./fonts/IBMPlexMono-Italic.woff') format('woff');
}
@font-face {
  font-weight: 700;
  font-style: italic;
  font-family: 'IBM Plex Mono';
  src: url('./fonts/IBMPlexMono-BoldItalic.woff2') format('woff2'),
    url('./fonts/IBMPlexMono-BoldItalic.woff') format('woff');
}

html {
  /* overflow: hidden; */
  font-variant-numeric: slashed-zero;
  font-family: sans-serif;
  font-size: 14px;
  font-family: 'IBM Plex Mono';
  line-height: 1.5;
  background: #444;
  color: #eee;
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: underline;
  cursor: pointer;
  color: #eee;
}

button:focus {
  outline: none;
  background: yellow;
}

/* Uses javascript in index.html. from https://stackoverflow.com/a/51093815/8691291 */
.using-mouse button:focus {
  background: transparent;
}

button:active,
.using-mouse button:active,
.active {
  color: #111;
  background: #eee;
  text-decoration: none;
}

.rainbow-animate {
  animation: rainbow 2s linear infinite;
}

@keyframes rainbow {
  0% {
    background: #ffa3a3;
  }
  10% {
    background: #ffaa29;
  }
  20% {
    background: #a2ca00;
  }
  30% {
    background: #2bd900;
  }
  40% {
    background: #00d857;
  }
  50% {
    background: #00d1d1;
  }
  60% {
    background: #92beff;
  }
  70% {
    background: #c1b1ff;
  }
  80% {
    background: #ec9fff;
  }
  90% {
    background: #ff9cd7;
  }
  100% {
    background: #ffa3a3;
  }
}
